In [1]:
# Installo pyspark e creo uno SparkContext
!pip install pyspark -q
import pyspark
sc = pyspark.SparkContext("local[*]").getOrCreate()

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 4.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 18.5 MB/s eta 0:00:00
  Building wheel for pyspark (setup.py) ... done

In [2]:
my_list = [2,5,3,1,6,7]

In [5]:
# utilizzo del map e della funzione lambda
squared_list = list(map(lambda x : x**2, my_list))
print(squared_list)

[4, 25, 9, 1, 36, 49]

In [7]:
# utilizzo della funzione filter
filtered_list = list(filter(lambda x : (x <= 10), squared_list))
print(filtered_list)

[4, 9, 1]

In [8]:
# Creazione di un RDD
rdd = sc.parallelize(my_list)
print(type(rdd))

<class 'pyspark.rdd.RDD'>

In [9]:
# Utilizzo di map e collect per rdd
double_numb_rdd = rdd.map(lambda x : x**2)

In [10]:
# Restituisce tutti gli elementi
number_doubled = double_numb_rdd.collect()

In [11]:
# Stampo tutti gli elementi
for item in number_doubled:
  print(item)

4
25
9
1
36
49

In [14]:
# Filtro tutti gli elementi pari nel double_rdd
filtered_double_rdd = double_numb_rdd.filter(lambda x : x % 2 == 0)
# Stampo rdd ottenuto
print(filtered_double_rdd.collect())

[4, 36]

In [15]:
# Quanti elementi sono presenti nel filtered_double_rdd?
print(filtered_double_rdd.count())

2

In [17]:
# Utilizzo di reduceByKey 
rdd_tuple = sc.parallelize([(1,2),(1,4),(2,3),(2,8),(3,9),(4,1),(5,2)])
# Applico il reduceByKey
rdd_tuple_reduced = rdd_tuple.reduceByKey(lambda x,y : x +y)
# Stampo rdd_tuple_reduced
print(rdd_tuple_reduced.collect())

[(2, 11), (4, 1), (1, 6), (3, 9), (5, 2)]

In [18]:
# è possibile ordinare gli elementi
sortedRdd = rdd_tuple_reduced.sortByKey(ascending=True)
print(sortedRdd.collect())

[(1, 6), (2, 11), (3, 9), (4, 1), (5, 2)]

In [20]:
# Contare per chiavi
total = rdd_tuple.countByKey()

# Che tipo è total?
print("total è di tipo ", type(total))

# Itero su total e stampo la chiave, valore
for k, v in total.items(): 
  print("key", k, "has", v, "counts")

total è di tipo  <class 'collections.defaultdict'>
key 1 has 2 counts
key 2 has 2 counts
key 3 has 1 counts
key 4 has 1 counts
key 5 has 1 counts